spring:
  datasource:
    url: ${DATABASE_URL}&rewriteBatchedStatements=true
    password: ${DATABASE_PASSWORD}
    username: ${DATABASE_ID}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        highlight_sql: true
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100
        order_inserts: true
        order_updates: true
        jdbc:
          batch_size: 100
    database: mysql
  data:
    redis:
      host: 127.0.0.1   #${REDIS_URL}
      port: 6379
logging:
  level:
    org.hibernate.sql: info
    org.hibernate.type.descriptor.sql: trace

jwt:
  prefix: 'Bearer '
  secret-key: ${JWT_SECRET_KEY}
  access-token-validity-in-seconds: 150
  refresh-token-validity-in-seconds: 259200

open-api:
  urls:
    - https://openapi.gg.go.kr/Genrestrtlunch
    - https://openapi.gg.go.kr/Genrestrtcate
    - https://openapi.gg.go.kr/Genrestrtmovmntcook
  key: 4649116924354fc182e7e611d7ba33d8
  type: xml
  size: 1000
